<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href='{% static "/css/style.css" %}' />

    <title>Hello, world!</title>
  </head>
  <body>
    <header class="header container mb-5">
      <div class="row align-items-center">
        <div class="col">
          <a class="header__logo" href="https://www.oblmed.spb.ru/">
            <img src="../../static/assets/img/logo.png" alt="Лого" />
          </a>
        </div>
        <div class="col">
          <h1 class="header__title text-center">Страница не найдена</h1>
        </div>
        <div class="col">
          <a href="/" class="btn header__button">Очередь</a>
        </div>
      </div>
    </header>

    <section class="people container">
        Страница не найдена
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
